:root {
  --max-width: 1400px;
  --border-radius: 12px;
  --primary-color: #ff4800;
  --text-color: #253d4e;
  --text-color-secondary: #7e7e7e;
  --text-color-trinary: #adadad;
  --badge-color: #ff9e00;
  --max-width: 1400px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}
